%ul.breadcrumb
  %li
    = link_to "#", class: "glyphicons briefcase" do
      %i
      الفصول
  %li.divider
  %li فصل ( أ )

.innerAll
  .row-fluid
    .span12
      .span6
        %table.table.table-invoice
          %tbody
            %tr
              %td{ style: "width: 100%;"}
                .media
                  %img.media-object.pull-left.thumb{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
                  .media-body
                    %h2= @n_class.name
                    %h4= @teacher
                    .separator.bottom
      .span6
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2 widget-stats-easy-pie txt-single" do
            .easy-pie.success{ :'data-percent' => "90" }
              %span.value ٩٠%
            %span.txt تكملة المنهج
            .clearfix
            .separator.bottom
        .span3.pull-left
              
          =link_to "#", class: "widget-stats widget-stats-gray widget-stats-2" do
            %span.count= @students.count
            %span.txt طالب
            
  .separator.bottom
  .row-fluid
    .span12
      .tabsbar.tabsbar-2
        %ul.row-fluid.row-merge
          %li.span4.glyphicons.cargo.active
            =link_to "#", class: "glyphicons user_add active" do
              %i
              المواد
          %li.span4.glyphicons.calendar
            =link_to "#", class: "glyphicons user_add active" do
              %i
              الجدول
          %li.span4.glyphicons.group
            =link_to "#", class: "glyphicons user_add active" do
              %i
              الطلاب
  .clearfix
  %table.fc-header{width: "100%"}
    %tbody
      %tr
        %td.fc-header-left
          .btn-group
            %button.fc-button.btn.btn-small.btn-primary.fc-button-next ►
            %span.fc-header-space
            %button.fc-button.btn.btn-small.btn-primary.fc-button-today.fc-state-disabled{disabled: ""} ١٢ اكتوبر - ١٩ اكتوبر
            %button.fc-button.btn.btn-small.btn-primary.fc-button-prev ◄
    
  .separator.bottom
  -@subjects.each_slice(2).to_a.each do |pair|
    .row-fluid
      .span6
        .box-generic
          .media
            %img.media-object.pull-left.thumb{ src: "http://2.s3.envato.com/files/50444644/80-avatar.jpg", style: "width: 51px; height: 51px;"}
            .media-body
              %h4.media-heading=pair[0].description
              %span=pair[0].teachers_names
              %br
              %span=pair[0].lessons.first.description
    -if pair[1].present?
      .span6
        .box-generic
          .media
            %img.media-object.pull-left.thumb{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", style: "width: 51px; height: 51px;"}
            .media-body
              %h4.media-heading=pair[1].description
              %span=pair[1].teachers_names
              %br
              %span=pair[1].lessons.first.description