*.gem
*/**/.DS_Store
*/.DS_Store
.autotest
.bundle
.DS_STORE
.eprj
.project
.rvmrc
.rspec
.powrc
.sass-cache/
.bundler_stubs
.directory
.kate-swp
.lock
*.swp
*.un~
app/assets/images/tmp/**/*
app/assets/images/uploads/**/*
config/*.sphinx.conf
config/database.yml
config/facebook.yml
config/twitter.yml
config/mebla.yml
config/mongoid.yml
config/paperclip.yml
config/tire.yml
config/tender.yml
config/email.yml
config/initializers/quite_assets.rb
config/initializers/better_errors.rb
config/initializers/rdebug.rb
config/initializers/better_errors.rb
db/*.db
db/*.sqlite3
db/schema.rb
db/sphinx/**/*
log/*.log
log/searchd.development.pid
nbproject
nohup.out
public/system/**/*
public/assets
routes.txt
tmp/
typescript
vendor/bundle
chromedriver.log
generators.txt
public/uploads/*
Tasks.txt
dev_todo.txt
coverage
config/tekeya.yml
dump.rdb