%input.radius#search-bar{:type=> "text", :placeholder=> translate('student_search'), onkeyup:"filter_students(1)"}
#students-list
  = render partial: 'students_list', locals: {students: @students, pages_count: @pages_count, page: @page }

