/ .widget.widget-heading-simple.widget-body-white.widget-employees
/   .widget-body.padding-none
/     .row-fluid.row-merge
/       .span6.listWrapper
/         %span.results
/           = @students.count 
/           طالب
/         %ul.list.unstyles{style: "top: 20px;"}
/           - @students.each do |student|
/             %li
/               .media.innerAll
/                 .media-object.pull-left.thumb
/                   %img{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
/                 .media-body
/                   = student.first_name
/                   = student.last_name
/                   %p
/                     = student.gender
/           - @students.each do |student|
/             %li
/               .media.innerAll
/                 .media-object.pull-left.thumb
/                   %img{ src: "http://1.s3.envato.com/files/50438174/tf-avatar.jpg", alt: "Logo" }
/                 .media-body
/                   = student.first_name
/                   = student.last_name
/                   %p
/                     = student.gender
%ul.breadcrumb
  %li
    = link_to students_path, class: "glyphicons group" do
      %i
      الطلاب

%h3 الطلاب
.innerLR
  / Widget
  .widget.widget-heading-simple.widget-body-white.widget-employees
    / Widget Heading
    .widget-head
      %h4.heading.glyphicons.user
        %i>
        معلومات عن الطلاب
    / // Widget Heading END
    .widget-body.padding-none
      .row-fluid.row-merge
        .span4.listWrapper
          .innerAll
            %form.form-inline{autocomplete: "off"}
              .widget-search.separator.bottom
                %button.btn.btn-inverse.pull-left{type: "button"}
                  %i.icon-search
                .overflow-hidden
                  %input{placeholder: "ابحث عن طالب ..", type: "text", value: ""}/
      
          %span.results
            =format_number(@students.count)
            طالب
            %i.icon-circle-arrow-down
          %ul.list.unstyled
            - @students.each do |student|
              %li
                .media.innerAll
                  .media-object.pull-left.thumb
                    %img{alt: "Image", "data-src" => "holder.js/51x51/dark"}/
                  .media-body
                    %span.strong= student.full_name
                    %span.muted= student.n_class.name
                    
        = render partial: 'preview_info', locals: {student: @students.first}  
        
  / // Widget END
