#landing_2
  .container960
    .fullwidthbanner-container
      .fullwidthbanner
        %ul
          %li.slide-1{data: {transition: "3dcurtain-vertical", slotamount: "1", masterspeed: "500"}}
            = image_tag "home/slide1.png"
            
            .caption.large_text.sft{ data: {x: "30", y: "54", speed:"300", start:"800", easing:"easeOutExpo"}}
              TOUCH ENABLED

            .caption.medium_text.sfl{data: {x: "59", y: "92", speed:"300", start:"1100", easing:"easeOutExpo"}}
              AND

            .caption.large_text.sfr{ data: {x: "108", y: "88", speed:"300", start:"1100", easing:"easeOutExpo"}}
              %span{style: "color: #ffc600;"}
                RESPONSIVE

            .tp-caption.modern_small_text_white.sfr{ data: {x: "30", y: "157", speed:"600", start:"2300", easing:"easeOutExpo"}}
              %p
                Lorem Ipsum is simply dummy text of the printing and typesetting
                %br 
                industry. Lorem Ipsum has been the industry's standard dummy text
                %br
                ever since the 1500s, when an unknown printer took a galley of
                %br
                type and scrambled it to make a type specimen book.

              %p
                It has survived not only five centuries, but also the leap into
                %br
                electronic typesetting, remaining essentially unchanged.
                %br
                It was popularised in the 1960s with the release of Letraset
                %br
                sheets containing Lorem Ipsum passages, and more recently
                %br
                with desktop publishing software like Aldus PageMaker
                %br
                including versions of Lorem Ipsum.

          %li.slide-1{data: {transition: "flyin", slotamount: "10", masterspeed: "300"}}
            = image_tag "home/slide2.png"
            
            .caption.large_text.sfb{ data: {x: "30", y: "54", speed:"300", start:"800", easing:"easeOutExpo"}}
              OVER 
              %span{style: "color: #ffcc00;"}
                8000
              SATISFIED CUSTOMERS

            .tp-caption.modern_small_text_white.sfr{ data: {x: "30", y: "157", speed:"600", start:"2300", easing:"easeOutExpo"}}
              %p
                Lorem Ipsum is simply dummy text of the printing and typesetting
                %br 
                industry. Lorem Ipsum has been the industry's standard dummy text
                %br
                ever since the 1500s, when an unknown printer took a galley of
                %br
                type and scrambled it to make a type specimen book.

              %p
                It has survived not only five centuries, but also the leap into
                %br
                electronic typesetting, remaining essentially unchanged.
                %br
                It was popularised in the 1960s with the release of Letraset
                %br
                sheets containing Lorem Ipsum passages, and more recently
                %br
                with desktop publishing software like Aldus PageMaker
                %br
                including versions of Lorem Ipsum.

        .tp-bannertimer.tp-bottom
    .mosaic-line.mosaic-line-2
      .container-960.center
        %h2.margin-none
          %strong.text-primary
            Awesome
          Features
          %span.hidden-phone
            Lovely headline here
    .innerT
      .widget.widget-heading-simple.widget-body-gray
        .widget-body
          %p.margin-none
            سلاح كانتا الطائرات قد قام, و فعل بهيئة والفرنسي. قهر بل مسرح تشرشل البرية, عن لهذه وجهان لكل. غريمه لبولندا الإنذار، جوي تم. تم أواخر الصينية لكل. أن لان تعداد وعزّزت الإقتصادي, أي سقط هتلر إحتلال.