#landing_2
  .container960
    .fullwidthbanner-container
      .fullwidthbanner
        %ul
          %li.slide-1{data: {transition: "3dcurtain-vertical", slotamount: "1", masterspeed: "500"}}
            = image_tag "home/slide1.png"
            
            .caption.large_text.sft{ data: {x: "30", y: "54", speed:"300", start:"800", easing:"easeOutExpo"}}
              هدفنا التعليم
            
            .caption.large_text.sfr{ data: {x: "108", y: "88", speed:"300", start:"1100", easing:"easeOutExpo"}}
              %span{style: "color: #ffc600;"}
                و التنمية

            .tp-caption.medium_text.sfr{ data: {x: "30", y: "157", speed:"600", start:"2300", easing:"easeOutExpo"}}
              %p
                بـ كلا عُقر النمسا تزامناً, هو عدم غضون وزارة الفرنسية. عام في بقعة 
                %br
                مقاومة التخطيط. يبق الذود العام بـ. تعد مايو الألمانية، عن, عن ليركز 
                %br
                الجديدة، ولكسمبورغ قهر, أما ان أواخر شموليةً. الجنود لليابان ماليزيا، لم دار.

          %li.slide-1{data: {transition: "flyin", slotamount: "10", masterspeed: "300"}}
            = image_tag "home/slide2.png"
            
            .caption.large_text.sfb{ data: {x: "30", y: "54", speed:"300", start:"800", easing:"easeOutExpo"}}
              هدفنا  
              %span{style: "color: #ffcc00;"}
                التعليم
              و التنمية

            .tp-caption.medium_text.sfr{ data: {x: "30", y: "157", speed:"600", start:"2300", easing:"easeOutExpo"}}
              %p
                بـ كلا عُقر النمسا تزامناً, هو عدم غضون وزارة الفرنسية. عام في بقعة 
                %br
                مقاومة التخطيط. يبق الذود العام بـ. تعد مايو الألمانية، عن, عن ليركز 
                %br
                الجديدة، ولكسمبورغ قهر, أما ان أواخر شموليةً. الجنود لليابان ماليزيا، لم دار.

      
        .tp-bannertimer.tp-bottom
    .mosaic-line.mosaic-line-2
      .container-960.center
        %h2.margin-none
          %strong.text-primary
            التعليم
          المونتسوري
          %span.hidden-phone
            نحو تنمية المجتمع
    .innerT
      .widget.widget-heading-simple.widget-body-gray
        .widget-body
          %p.margin-none
            سلاح كانتا الطائرات قد قام, و فعل بهيئة والفرنسي. قهر بل مسرح تشرشل البرية, عن لهذه وجهان لكل. غريمه لبولندا الإنذار، جوي تم. تم أواخر الصينية لكل. أن لان تعداد وعزّزت الإقتصادي, أي سقط هتلر إحتلال.