#footer-widget-area
  / Footer
  %footer#colophon.site-footer.purple{role: "contentinfo"}
    #tertiary.sidebar-container{role: "complementary"}
    / Site Info
    .site-info
      .container_16
        / CopyRight
        .grid_8
          %p.copy
            Copyright © Net3allem, 2013. All Rights reserved.
        / Design By
        .grid_8
          %p.designby
            Website by
            %a{href: "http://robustastudio.com", target: "_blank", title: "WPlook"} Robusta
        .clear
    / .site-info
  / #colophon .site-footer