%header#branding.site-header{role: "banner"}
  #sticky_navigation
    .container_16
      %hgroup.fleft.grid_5
        %h1#site-title
          %a{href: "http://net3allem.com/", rel: "home", title: "Net3allem - "}
            %img{src: "http://net3allem.com/wp-content/uploads/2013/09/net3allemlogoeng-051.png"}
        %h2#site-description
      %nav#site-navigation.site-navigation.main-navigation.grid_11{role: "navigation"}
        .menu-main-menu-container
          %ul#menu-main-menu.nav-menu
            %li.menu-item
              %a{href: "http://net3allem.com/"} Home
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=47"} About Us
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=23"} Projects
              %ul.sub-menu
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=1"} Montessori Nursery
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=359"} Foundation Classes
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=350"} Teenagers Classes
                %li.menu-item.menu-item-type-custom.menu-item-object-custom
                  %a{href: "http://net3allem.com/?p=273"} Literacy Classes
            %li.menu-item
              %a{href: "#"} Events
              %ul.sub-menu
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=77"} Upcoming Events
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=140"} Past Events
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=9"} Success Stories
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=2"} Contribute
              %ul.sub-menu
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=47"} Volunteer
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=89"} Foster A Child
                %li.menu-item
                  %a{href: "http://net3allem.com/?page_id=1441"} Donate
            %li.menu-item
              %a{href: "http://net3allem.com/?page_id=624"} Our Gallery
      / .site-navigation .main-navigation
      .grid_16.mob-nav
      .clear