- classes ||= "purple"
- if @page_title.present?
  .item.teaser-page-list{class: "#{classes}"}
    .container_16
      %aside.grid_10
        %h1.page-title
          = translate(@page_title)
      .grid_6
        - if @sub_page.present?
          #rootline
            %a{href: "#"}= translate('home')
            %i.icon-angle-right
            %span.current
              =translate(@sub_page)
      .clear
