/ Toolbar
#toolbar
  .container_16
    .grid_16
      %ul.tb-list
        %li.phone
          %a{href:"tel:+01003405520"} Tel.:+01003405520
        %li.contact
          %a{href: "http://net3allem.com/?page_id=101"}
            %i.icon-envelope
        / <li class="share"><a href="#"><i class="icon-share"></i></a>
        / <ul class="share-items radius-bottom">
        %li.contact.share-item-icon-facebook-sign.radius
          %a{href: "http://www.facebook.com/net3allem", target: "_blank", title: "Facebook"}
            %i.icon-facebook-sign
        %li.contact.share-item-icon-twitter-sign.radius
          %a{href: "http://twitter.com/net3allem", target: "_blank", title: "Twitter"}
            %i.icon-twitter-sign
        %li.contact.share-item-icon-pinterest-sign.radius
          %a{href: "#", target: "_blank", title: "Pinterest"}
            %i.icon-pinterest-sign
        %li.contact.share-item-icon-youtube-play.radius
          %a{href: "#", target: "_blank", title: "You Tube"}
            %i.icon-youtube-play
        / </ul>
        %li.search
          %a{href: "#"}
            %i.icon-search
          %ul.search-items.radius-bottom
            %li
              .search-form
                %form#searchform{action: "http://net3allem.com/", method: "get", role: "search"}
                  %div
                    %input#s{name: "s", onblur: "if(this.value=='')this.value=this.defaultValue;", onfocus: "if(this.value==this.defaultValue)this.value='';", type: "text", value: "Search for..."}/
                    %input#searchsubmit{type: "submit", value: "Search"}/
        %li.donate
          %a{href: "http://net3allem.com/?page_id=1441"}
            Donate
            %i.icon-tint
      %ul#qtranslate-chooser.qtrans_language_chooser
        %li.lang-en.active
          =link_to 'English', url_for(params.merge({:locale => 'en'}))
        %li.lang-ar
          =link_to 'العربية', url_for(params.merge({:locale => 'ar'}))
      .qtrans_widget_end
      .clear
/ /#toolbar