#landing_2{
  margin-top: -50px;
}
#button_link{
  color: white
}

.topnav > li.search form input{
  width: 300px !important;
}

.no-style{
  margin: 0 0 0;  
}
.student-preview{
  padding-top: 70px;
}

#photo_upload {
    position: relative;
}

#photo_upload .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
    input {
      cursor: pointer;
    }
}