- lessons.each do |lesson|
  %span درس :
  %span= lesson.description
  %br
  %a
  = link_to edit_class_evaluation_record_path(class_subject_id: class_subject, lesson_id: lesson) do
    %span التقييم
    %i.icon-edit
    
