.navbar.main
  %button.btn.btn-navbar.pull-right{type: "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %ul.topnav
    %li.search.open
      %form.dropdown.dd-1{autocomplete: "off"}
        %input{type: "text", value:"", placeholder: "ابحث عن طالب .. ", :'data-toggle' => "typeahead"}
        %button.glyphicons.search{type: "button"}
          %i
  %ul.topnav.pull-right
    = nav_link "الاحصائيات", admin_dashboard_index_path, "glyphicons dashboard"
    = nav_link "الطلاب", "#", "glyphicons group"
    = nav_link "الفصول", n_class_path, "glyphicons briefcase"