.navbar.main.hidden-print
  .secondary
    .container-960
      = link_to "نتعلم", "#", class: "appbrand pull-left"
      %ul.topnav.pull-right
        %li.glyphs.hidden-phone
          %ul
            %li.active.single
              = link_to "#", class: "glyphicons keys" do
                %i
                Admin
      .clearfix